.container-fluid {
	padding: 0;
}
.navbar {
	background-color: #DA3038;
	margin-bottom: 0;
	padding: 0 5%;
	border: 0;
	border-radius: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #F4F0A6;
} 
.titulo {
	font-family: "Merriweather", "Serif";
}
/*BACKGROUNDS*/
/*Background Creamy Theme*/
.fondo-home {
	background-image: url(../img/creamy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center !important;
	color: #F4F0A6;
}
.opacidad {
	background-color: rgba(0,0,0,0.5);
	font-size: 80%;
	padding: 12%;
}
/*Background Oh! So Creamy*/
.fondo-creamy {
	background-color: #F4F0A6;
	color: #DA3038;
	padding: 3%;
}
/*Background About Creamy*/
.fondo-about-creamy {
	background-color: #DA3038;
	color: #F4F0A6;
	padding: 3%;
}
.fondo-footer {
	background-color: #DA3038;
	color: #F4F0A6;
	padding: 1% 5%;
}

@media (max-width: 767px) {
	.titulo {
		font-size: 16px;
	}
	.fuente {
		font-size: 10px;
	}
}